<div id="calDiv"></div>

<script>
	var idclient= {{id}}; 
	{% verbatim %}
		var link2=Routing.generate('ovt_front_end_client_retrieve_client_sessions_by_user_id',{idUser:idclient});  
	{% endverbatim %} 
 	$('#clientCalendar').fullCalendar({
		events:  link2 ,
		header: {
			left: 'today',
			center: 'prev, title, next'
		},
		businessHours:{
			start: '08:00', 
			end: '19:00',
			dow: [ 0, 1, 2, 3, 4, 5, 6 ]
		},
		
		defaultView: 'agendaWeek',
		scrollTime: '07:00:00',
		selectable: true, 
		eventLimit: true, 
	
		eventClick:  function(event, jsEvent, view) {
            $('#modalTitle').html(event.title);
            $('#sessionDesc').html(event.description);
            $('#nomClient').html(event.client);
            $('#fullCalModal').modal();
            $('#contexteSession').html(event.type);
            $('#dateDemandeSession').html(event.requestDate);
        	$('#debutSession').html(event.startTime)  ;
        	$('#finSession').html(event.endTime);
        	$('#serviceSession').html(event.service);
        	{% verbatim %}
        		var toSession= Routing.generate('ovt_services_velotypie_join',{userType:'client',hashLink:event.link});
        	{% endverbatim %}
        	if(event.link!="")
        	$('#joinUrl').attr('href',toSession);
        },
		 
		select : function( start, end, jsEvent, view ) {
			 
		},
		loading: function(bool) {
            if (bool) {
                $('#waitingModal').modal('show');
            } else {
                $('#waitingModal').modal('hide');
            }
        }
	});
	$('#clientCalendar').fullCalendar( 'removeEvents');
	$('#clientCalendar').fullCalendar( 'refetchEvents' );

	}

</script>