<style>
/* Our own css properties 
--------------------------------------------------------------------------------------------------------*/
.fc-today-button {
	background-image: url(../img/today.png) !important;
	height: 23px !important;
	width: 93px;
	background-position: 0 0;
	border:none;
}

.fc-today-button:hover{
	background-image: url(../img/today_hover.png) !important;
}

.fc-center p{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding-left: 10px;
	margin: 0px !important;
	padding-right: 10px;
	height: 21px;
	background: url(../img/nav_label_bg.gif) repeat-x;
}

.fc-center button {
	margin:0px !important;
}

.fc-center .fc-prev-button {
	border: none;
	background: url(../img/nav_prev.png) no-repeat !important;
	width:25px;
} 

.fc-center .fc-next-button {
	border: none;
	background: url(../img/nav_next.png) no-repeat !important;
	width:25px;
} 

</style>