<div class="newClientForm">  
	<form action="{{path('ovt_front_end_admin_client_new_user')}}" method="post" id="addNewClientForm">
		
		<div class="container_data_style">
			<div class="text_data_style new_password subtitle_color_text">
				<label for="lastName" > Nom </label>
			</div>
		 	<input type="text" name="lastName" placeholder="nom" class="input_data">
		</div>

		<div class="container_data_style">
			<div class="text_data_style new_password subtitle_color_text">
				<label for="firstName" > Prénom </label>
			</div>
			<input type="text" name="firstName" placeholder="Prénom" class="input_data"> 
		</div>

		<div class="container_data_style">
			<div class="text_data_style new_password subtitle_color_text">
				<label for="email" > Email : </label>
			</div>
			<input type="text" name="email" placeholder="email" class="input_data"> 
		</div>

		<div class="container_data_style">
			<div class="text_data_style new_password subtitle_color_text">
				<label for="address" > Adresse : </label>
			</div>
			<input type="text" name="address" placeholder="adresse" class="input_data"> 
		</div>

		<div class="container_data_style">
			<div class="text_data_style new_password subtitle_color_text">
				<label for="phoneNumber" >Numéro de téléphone : </label>
			</div>
			<input type="text" name="phoneNumber" placeholder="Numéro de téléphone" class="input_data">	
		</div> 

		<div class="container_data_style">
			<div class="text_data_style new_password subtitle_color_text">
				<label for="language" > Langue </label>
			</div>
			<input type="text"   name="language" class="input_data"  ></input>
		</div>

		<div class="container_data_style">
			<div class="text_data_style new_password subtitle_color_text">
				<label for="equipments" > Equipements </label> 
			</div>
			<input type="text"  name="equipments"  class="input_data"> 
		</div>

		<div class="container_data_style">
			<div class="text_data_style new_password subtitle_color_text">
				<label for="group" > Group </label>
			</div>		
			<select type="text" name="group" class="input_data"  >
			 	{{render(controller('OVTFrontEndClientBundle:ClientAdmin:renderClientGroups'))}}
			</select>   
		</div>

		<div class="container_data_style">
			<div class="text_data_style new_password subtitle_color_text">
				<label for="role" > Type </label>
			</div>
			<select type="text" name="role"  class="input_data" >
				<option value="ROLE_CLIENT" selected> Utilisateur Client</option>
			</select> 
		</div>

		<div style="  border: 1px solid rgba(165, 165, 165, 0.2);"></div>

		<div class="container_data_style">
			<div class="text_data_style new_password subtitle_color_text">
				<label for="password" > Mot de passe : </label>
			</div>
			<input type="password" id="newClientPassword" name="password" placeholder="password" class="input_data"> 
		</div>

		<div class="container_data_style">
			<div class="text_data_style new_password subtitle_color_text">
				<label for="confirmPassword" >Confirmer Mot de passe : </label>
			</div>
			<input type="password" id="newClientPasswordRe" name="confirmPassword" placeholder="Resaisir mot de passe ici" class="input_data"> 
		</div>
		<input type="submit" style="display:none"> 
		<input type="hidden" name="userType" value="Client"> 
	</form>
	<div id="addNewClientFormButton" class="SessionTabbuttons  theme_color_background"  > Ajouter </div> 
</div>