<html >
	<head>
		{% block links %}
			<link rel="stylesheet" href="{{asset('ress/css/authentification.css')}}" />
			<link rel="stylesheet" href="{{asset('ress/css/background.css')}}" />
			<link rel="stylesheet" href="{{asset('ress/css/bootstrap.css')}}" />
			 
		{% endblock %}
	</head>

    <body  id="logindiv">
    	{% block body %}
		    <header id="headr">
	    		{% block header %}
						<img id="logorange" src="{{asset('ress/img/orange/orange.png')}}" />
						<img id="pointinter" width="34px" height="38px" src="{{asset('ress/img/inter.png')}}" />
						<div id="header_text">
							<div id="header_title">Orange Voice Transcription</div>
							<div id="header_subtitle">version 3.0</div>
						</div>
				{% endblock %}
			</header>
		
			{% block mainContainer %}
    	 	{% endblock %}

		{% endblock %}
    </body>
</html>