 <form action="{{path('ovt_back_end_admin_gestion_new_organisation',{organisation:'client'})}}" method="post" id="addNewOrgForm" >
	<div class="container_data_style">
		<div class="text_data_style   subtitle_color_text">
			<label for="orgName" > Nom de l'entreprise : </label>
		</div>
	 	<input class="input_data" type="text" name="orgName" placeholder="nom organisation"></input>
	</div>
	<div class="container_data_style">
		<div class="text_data_style   subtitle_color_text">
			<label for="address" > Adresse : </label>
		</div>
	 	<input class="input_data" type="text" name="address" placeholder="adresse"></input>
	</div>
	<div class="container_data_style">
		<div class="text_data_style   subtitle_color_text">
			<label for="phoneNumber" >Numéro de téléphone : </label>
		</div>
	 	<input class="input_data" type="text" name="phoneNumber" placeholder="Numéro de téléphone"></input>
	</div>
	<div class="container_data_style">
		<div class="text_data_style   subtitle_color_text">
			<label for="adminID" > Administrateur : </label>
		</div>
	 	<select class="input_data" type="text" name="adminID"  >
			{{ render(controller('OVTBackEndAdminBundle:UserAdmin:listAdmins',{type:"client"}))}}
		</select>
	</div> 
	<input style="display:none" type="submit" / > 
	<div id="addNewOrgFormButton" class="SessionTabbuttons  theme_color_background"  > Ajouter </div>  
</form>
					 