<div>
	<ul class="listservices">
	{% for org in orgs %}
		<div class="listserviceli" ng-click="actionClick({{org.id}})">
			<li >{{org.name}}</li>
			<input 	type="hidden" value="{{org.id}}" ></input>
		</div>	
	{% endfor %}
	</ul>
</div>