<div>
	<ul class="listservices">
	{% for u in users %}
		<div class="listserviceli" ng-click="actionClick({{u.id}})">
			<li >{{u.firstname}}  {{u.lastname}} </li>
			<input 	type="hidden" value="{{u.id}}" ></input>
		</div>	
	{% endfor %}
	</ul>
</div>