<div>
	<ul class="listservices">
	{% for s in services %}
		<div class="listserviceli" ng-click="actionClick({{s.id}})">
			<li >{{s.name}}</li>
			<input 	type="hidden" value="{{s.id}}" ></input>
		</div>	
	{% endfor %}
	</ul>
</div>