<div id="serviceInfo">
	<div class="imageService">

	</div>

	<div>
		<h5> Nom du Service : </h5>
		<p>{{service.name}}</p>
	</div>

	<div>
		<h5> Description : </h5>
		<p>{{service.description}}</p>
	</div>
	<input   type="hidden" value={{service.id}} ></input>

</div>