<div class="menu_complet">
	<div id="menu_title">
		<p id="p1">Menu
	</div>
	
	<div id="menu_compo">

		<div class="box">
			<div id="p4" class="box-title"> Mes reservations</div>
			<br/>
				<ul>
					<li class="menuItem"><img src="{{asset('ress/img/calendar.png')}}"  >
						<a   href=""> Mon agenda</a>
					</li>
					<li class="menuItem"><img src="{{asset('ress/img/gestiondemande.png')}} ">
						<a   href=""> Mes demandes</a>
					</li>
					<li class="menuItem"><img src="{{asset('ress/img/published.png')}}" >
						<a   href=""> Mes documents</a>
					</li>

				</ul>
		</div>

		<hr/>

		<div class="box">
			<div id="p44" class="box-title"> Mon compte </div>
			<br/>
				<ul>
					<li class="menuItem"><img src="{{asset('ress/img/mesinfo.png')}}"  >
						<a   href=""> Mes informations</a>
					</li>
					<li class="menuItem"><img src="{{asset('ress/img/MdP2.png')}} ">
						<a   href=""> Changer de mot de passe </a>
					</li> 

				</ul>
		</div>
		
	</div>
</div>