<div class="menu_complet">
		<div id="menu_title">
			<p id="p1">Menu
		</div>
		
		<div id="menu_compo">

			<div class="box">
				<div id="p2" class="box-title">session</div>
				<li><img src="{{asset('ress/img//gestiondemande.png')}}"/><a href="">gestion des demandes</a>
				</li>
				<li><img src="{{asset('ress/img//affdemande.png')}}"/><a href="">affectation des demandes</a>
				</li>
			</div>

			<hr/>

			<div class="box">
				<div id="p2" class="box-title">administration</div>
				<li><img src="{{asset('ress/img//gestionpersonnel.png')}}"><a href="">gestion des clients</a>
				</li>
				<li><img src="{{asset('ress/img//gestionpersonnel.png')}}"/><a href="">gestion du personnel</a>
				</li>
				<li><img src="{{asset('ress/img//gestionpersonnel.png')}}"><a href="">gestion des prestataires partenaires</a>
				</li>
				<li><img src="{{asset('ress/img//gestionpersonnel.png')}}"><a href="">gestion des groupes clients</a>
				</li>
				<li><img src="{{asset('ress/img//gestionpersonnel.png')}}"><a href="">gestion des groupes prestataires</a>
				</li>
			</div>

			<hr/>

				<div class="box">
					<div id="p2" class="box-title">reservations</div>
					<li><img src="{{asset('ress/img//gestionpersonnel.png')}}"><a href="">mon agenda</a>
					</li>
					<li><img src="{{asset('ress/img//gestionpersonnel.png')}}"><a href="">mes demandes</a>
					</li>
					<li ><img src="{{asset('ress/img//gestionpersonnel.png')}}"><a href="">faire une demande</a>
					</li>
					<li ><img src="{{asset('ress/img//gestionpersonnel.png')}}"><a href="">mes documents</a>
					</li>
				</div>

			<hr/>

				<div class="box">
					<div id="p2" class="box-title">transcriptions</div>
					<li><img src="{{asset('ress/img//planning.png')}}"/><a href="">mon planning</a>
					</li>
				</div>

			<hr/>

				<div class="box">
					<div id="p2" class="box-title">mon compte</div>
					<li><img src="{{asset('ress/img//mesinfo.png')}}"/><a href="">mes informations personnelles</a>
					</li>
					<li><img src="{{asset('ress/img//MdP2.png')}}" id="mdp"/><a href="">mon mot de passe</a>
					</li>
				</div>
			
		</div>
	</div>