<html >
	<head>
		<link rel="stylesheet" href="{{asset('ress/css/authentification.css')}}" />
		<link rel="stylesheet" href="{{asset('ress/css/background.css')}}" />
	</head>
    <body  id="logindiv">
    	<header id="headr">
				<img id="logorange" src="{{asset('ress/img/orange/orange.png')}}" />
				<img id="pointinter" width="34px" height="38px" src="{{asset('ress/img/inter.png')}}" />
				<div id="header_text">
					<div id="header_title">Orange Voice Transcription</div>
					<div id="header_subtitle">version 3.0</div>
				</div>
		</header>
    	<div style="height:100%; padding-top: 40px;">
			BIG TEST !
		<div>
	
    </body>
</html>